proj3/CyDIW_Root/ComS363/Demos/Datasets/Emp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Xinyuan Zhao (Iowa State University) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Emps" type="EmpsType"/>
	<xs:complexType name="EmpsType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Entry" type="EntryType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntryType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="DName" type="xs:string"/>
			<xs:element name="Salary" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
